<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @book.price %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>


<%= render engine: 'road_crew/button', locals: {label: '限定機能'} %>
<%= render engine: 'publisher/show' %>
<%= render engine: 'publisher/footer/show' %>

<%= render engine: 'new_publisher/show' do %>
あれこれ
<% end %>
